body{
    width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.container{
    width: 1020px;
    height: 863px;
    background-image: url(./assets/images/Bg2.png);
    background-color: #2d303a;
    border-bottom: 6px solid #323746 ;
  
}

.portfolio{
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 44px;

}

.portfolioLogo{
    

}

.portfolioLogo > h1{
    color: #666d89;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.portfolioLogo > p {
    /* border: 1px solid black; */
    margin-bottom: -16px;
    padding-top: 2px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.buttons {
    width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.buttons > button{
    font-size: 12px;
    line-height: 18px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;

    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    color: #dedede;
}

.images{
    padding-top: 19px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-height: 600px;
    overflow: hidden;
}

.images > img{
    width: 220px;
    height: 187px;
    border-radius: 3px;
    /* background-color: #464b5e; */
    padding-bottom: 20px;
}

.containerTwo{
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
    margin: 0 auto;
    border-bottom: 6px solid #ffffff;
}

.aboutAs {
    margin: 0 auto;
    border-bottom: #ffffff;
    width: 940px;
}

.aboutAs > section > h1{
    padding-top: 43px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.aboutAs > section > p{
    padding: 2px 0px 0px 1px;
    
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.sectionInfoByPeople{
    width: 940px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sectionInfoByPeople > section {
    width: 300px;
    height: 440px;
     
}

#fotoPeople{
    height: 300px;
    width: 300px;
}

.sectionInfoByPeople  h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.sectionInfoByPeople p {
    width: 300px;
    height: 57px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.socialNetwork>img{
    cursor: pointer;
}
